.detailListItem {
    list-style-type: none;
   
}
.detailTable {
  margin-left: 40px;
  
}


.detailBox {
    width: 50%;
    text-align: left;
    
}

#clickName {
    position: relative;
}
#clickName h2:hover {
    cursor: pointer;
  }

.hoverText {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    font-family:The Girl Next door, sans-serif;
    font-size: 20px;
  }

  #clickName:hover .hoverText {
    display: block;
  }