#header {
    width: 100%;
    height: 100px;
    padding-top: 20px;
    background-color: rgb(49, 176, 29);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}