#header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
   
    background-color: rgb(49, 176, 29);
    font-family:The Girl Next door, sans-serif;
    font-size: 30px;
}

#text-header {
  margin-right: 200px;   

}
.image-container {
    margin-right: auto; 
}


.image-container img {
    width:120px;
    margin-top: 22px;
    
}

.image-container img:hover {
    cursor: pointer;
}