.btn {
    width: 100px;
    height: 35px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    background-color: black;
    border:none;
    border-radius: 5px;
    margin: 5px;
  }
  
  .btn:hover {
    background-color:rgb(49, 176, 29);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  #input {
    border-radius: 5px;
    height: 30px;
    margin: 5px;
    width: 60%;
    font-size: 20px;
    
  }

  .listItem {
    list-style-type: none;
    
  }